.App {
  text-align: center;
  font-family: Helvetica;

}

.App-header {
  background-color: #FFFFFF;
  min-height: calc(100svh - 160px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  font-family: Helvetica, sans-serif;
  color: black;
  position: relative;
  top: 80px;
}

.project-header {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  font-family: Helvetica;
  color: black;
  position: relative;
  top: 80px;
}

.App-link {
  text-decoration: none;
  color: black;
}

.App-link:hover {
  text-decoration: underline;
  color: black;
}

.project-link {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: black;
}

.project-link:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  color: black;
}

.content-grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(calc(350px + 10vmin), 100%), 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  column-gap: 4vmin;
  row-gap: 4vmin;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 30px;

}

.card-master {

  width: 100%;
  padding-top: 69%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: black;
  color: #FFFFFF00;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

}

.card-master:hover {
  color: #FFFFFF;
}

.media {

  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #FFFFFF00;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

}

.media:hover {

  transform: scale(1.1);
  border-radius: 10px;
  opacity: 0.7;

}

.embed-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-sub {

  display: flex;
  flex-direction: column;
  width: 35%;
  top: 80px;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .flex-sub {

    display: flex;
    flex-direction: column;
    width: 100%;
    top: 80px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}

.media-sub {

  height: fit-content;
  width: 80%;
  position: relative;
  box-sizing: border-box;

}

.thickbar {
  width: 90%;
  background-color: black;
  height: 2px;
}

.lightbar {
  width: 100%;
  background-color: black;
  height: 1px;
}

.project-grid-head {
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  width: 90%;
  font-size: small;
  grid-template-columns: 1fr 1fr;
}

.project-grid-body {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  width: 100%;
  font-size: xx-large;
  font-weight: lighter;
  align-items: center;
  grid-template-columns: 4fr 1fr;
}

.lfmt {
  display: flex;
  width: 100%;
  justify-content: left;
}

.rfmt {
  display: flex;
  font-size: small;
  width: 100%;
  font-weight: normal;
  justify-content: right;
}